/* ==UserStyle==
@name         Scientific Youtube
@namespace    youtube.com
@version      1.0
@description  Youtube with disabled suggestions, starts with a blank page and ends with a blank screen, giving a space to think
==/UserStyle== */

@-moz-document domain("youtube.com") {

ytd-rich-grid-renderer:has(> div#contents) {
    /* start page with suggested videos */
    display: none;
}
div#home-page-skeleton {
    /* splash screen imitating the real web page */
    display: none;
}
div#home-container-skeleton {
    display: none;
}
button#avatar-btn > yt-img-shadow > img#img {
    /* userpic */
    filter: brightness(0%);
    opacity: 0.1;
}
div.ytp-ce-element {
    /* end screens covering the playing video */
    display: none;
}
div.ytp-ce-hide-button-container {
    /* hide button covering the playing video */
    display: none;
}
div.ytp-fullscreen-grid-stills-container {
    /* 1-3 related videos, there is a better list with hundreds of them */
    display: none;
}

}
