/* ==UserStyle==
@name         LinkedinUserpic
@namespace    linkedin.com
@version      1.0
@description  assists me in my ego management by removing user pictures from the page
==/UserStyle== */

@-moz-document domain("linkedin.com") {
  /* popup */
  div.upsell-animated-fullpage-takeover-modal__profile-image-container:has(
    > div.upsell-animated-fullpage-takeover-modal__profile-image
    > div.ivm-view-attr__img-wrapper > img.EntityPhoto-circle-8) {
    display: none !important;
  }
  /* nav bar */
  div.global-nav__me > button.global-nav__primary-link-me-menu-trigger > img.global-nav__me-photo {
    opacity: 0;
  }
  div[data-testid="primary-nav"] > div > div > div > div > nav > ul > li
    > button[data-view-name="navigation-settings"] > span > figure[role="image"] > img {
    opacity: 0;
  }
  /* nav bar menu item */
  div[role="menu"] > a > div > div > figure[data-view-name="image"]:has(> svg#person-accent-4) {
    display: none;
  }
  div.artdeco-dropdown__content-inner > header.p2 > a.ember-view > div.artdeco-entity-lockup
    > div.artdeco-entity-lockup__image--type-circle:has(> img.global-nav__me-photo) {
    display: none;
  }
  /* sticky header in profile page */
  section.scaffold-layout-toolbar > div.scaffold-layout-container > div
    > div.artdeco-entity-lockup > div.presence-entity:has(> img.EntityPhoto-circle-1) {
    display: none;
  }
  /* sidebar */
  a.profile-card-profile-picture-container:has(> img.profile-card-profile-picture) {
    display: none;
  }
  a.profile-card-profile-link:has(> div.profile-card-background-image) {
    display: none !important;
  }
  /* start a post */
  a.ember-view:has(> div.share-box-feed-entry__avatar > img.EntityPhoto-circle-3) {
    display: none;
  }
  /* banner inside the feed */
  div.fie-impression-container:has(> div.update-components-promo > div.update-components-promo-v1
    > div > div.update-components-promo-v1__image-background > a > div.ivm-image-view-model
    > div.ivm-view-attr__img-wrapper > img.update-components-promo-v1__image--circle) {
    display: none;
  }
  /* banner inside the feed 2 */
  section.launchpad-v2:has(> div > div.launchpad-v2-single-content-layout > div.launchpad-v2-card
    > div.launchpad-v2-card-with-image-1 > div.launchpad-v2-card-with-image-1__image
    > div.ivm-image-view-model > div.ivm-view-attr__img-wrapper > img.EntityPhoto-circle-8) {
    display: none;
  }
  /* right banner */
  div.scaffold-layout__sticky:has(> div.scaffold-layout__sticky-content > section.ad-banner-container > iframe.ad-banner) {
    display: none;
  }
  /* messaging */
  aside#msg-overlay > div > header > div > div.presence-entity--size-1:has(> img.EntityPhoto-circle-1) {
    display: none;
  }
  /* left banner */
  section.da-card-creative:has(> div.da-card-creative__image-brand
    > section.da-card-creative__pic-container > img.da-card-creative__profile-image) {
    display: none;
  }
  div#react-root > main:has(> header > div.absolute > img.border-color-canvas-tint) {
    display: none;
  }
  /* jobs page ad */
  div.jobs-home-upsell-card__container > div > div > div.card-upsell-v2__illustration:has(
    > div.ivm-image-view-model > ul > li > div.ivm-view-attr__img-wrapper > img.EntityPhoto-circle-4-stackedFacepile) {
    display: none;
  }
  /* every selector removes one userpic, imagine the total number */

  /* sudoku toys */
  div.mb2:has(> section.artdeco-card > div.pv3 > div.games-entrypoints-module__subheader > h2#todays-games-entrypoint-title) {
    display: none;
  }
}
