/* ==UserStyle==
@name         Google Noslop
@namespace    google.com
@version      1.0
@description  Improve the quality of Google search output
==/UserStyle== */

@-moz-document domain("google.com") {
  /* top level slop */
  div[data-hveid]:has(> div[data-hveid] > div > div[class] > div[class]
    > div[jscontroller] > div[jsname] > div[data-mcpr] > div[data-is-desktop="1"]) {
    display: none;
  }
  /* second level slop */
  div[class]:has(> div[class] > div[jsname] > div[data-mcpr] > div[data-is-desktop="1"]) {
    display: none;
  }
}
